/* navBar */
#top-nav{
    background-color: rgb(218, 215, 215 ,23%) ;
    direction: rtl; 
padding-bottom: 0%;
margin-bottom: 0%;
}
.search-label{
    padding-top:5px;
    margin-right: 40px;
    margin-left: 10px;
    font-size: larger;
    color:#CF5814;
}
.search-input{
max-width:300px;
border-style: none;
background-color: rgb(237, 238, 239);

}
.search-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    padding-right: 5%;
  }
  #navbar-nav-link{
    margin-right:80px ;
    font-size: larger ;
    color:#CF5814 ;
    padding-right:20px;
    padding-left:20px;
  }
  #navbar-nav-link:hover{
    color:white;
    background-color: #CF5814;
    border-radius: 10px;
  }
  
  .logo{
    width: 100px;
    height: 80px;
    margin-left: 20px;
  }
  #nav-line{
    margin-top: 0%;
    padding-top: 0%;
    background-color: #D15008  ;
    height: 15px;
margin-top: -16px;    
  }


  /* Home */
  #countainer-Home{
    max-width:95%;
    margin-left: 30px ;
    direction: rtl;

  }
  .table-rigth{
    /* background-color: rgb(0, 0, 0,27%) ; */
    direction: rtl;
    color:#CF5814;
  }
  .Card-Home{
    background-color: rgb(217, 217, 217,23%)  !important;
    border-style: none !important;
    border-radius: 20px !important;
    margin-top: 20px;
    min-height: 400px;
    
  }
  .Card-Title{
margin-right: 15px;  
cursor: pointer;
text-decoration: none;
color:#CF5814;
}
.Card-Title:hover{
  color:black
}

#daily-profits{
  border-radius: 20px;
  color:#CF5814;
  background-color: rgb(217, 217, 217,23%)  ;
  border-style: none;
  min-height: 90px;

padding-top: 10px;
font-size: large;
}
#daily-profits:hover{
  transform: scale(1.1);
}
.Header-title{
  color: white;
margin-top:70px;
  background-color: #CF5814;
  max-width:fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
#All-Profits{
  color:black;
 text-align: center ;
  padding-left: 10px; 
}

.img-profile{
  width:40px;
  height: 40px;
}
.img-nav{
  margin-right: 2%;
}
.table-header{
  color: #CF5814;
  background-color: rgb(217, 217, 217,23%)  ;
}
.main-table{
  background-color: rgb(217, 217, 217,23%)  !important;
}
