
  .Card-login{
    background-color: #f8f8f8 !important;
  }
.Login-Title{
  color:#CF5814 !important;
  display: inline-flex;
  margin-left: 4%;
margin-bottom: 12%;
cursor: pointer; 
text-decoration: none;
}
.Login-Title-noneActive{
  color:#e1dedc;
  display: inline;
  margin-left: 5%;
margin-bottom: 12%;
cursor: pointer; 
}
.login-Form{
  margin-top: 0%;
}
.login-Form input{
  border-radius: 20px;
  width:80%;
  min-height:3rem;
  border-style: none;
  background-color: rgb(240, 242, 240);
  margin-bottom: 2%;
}

.login-Form button{
  background-color: #CF5814;
  border-radius: 15px;
  width: 35%;
  color: white;
  border-style: none;
  min-height:3rem;
margin-right: 70%;
font-size: large;}

.showPass{
  display: inline;
  margin-right: 2%;
}
.login-Form img{
  margin-top: 5%;
}
/* .LoginHeight{
  min-height: 30rem;
  position: relative;
  border-radius: 1rem;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
} */
/* .SignUpHeight{
  min-height: 50rem;
  position: relative;
  border-radius: 1rem;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
} */


