.SignUp-Form{
    margin-top: 4%;
  }
  .SignUp-Form input{
    border-radius: 20px;
    
    min-height:3rem;
    border-style: none;
    background-color: rgb(240, 242, 240);
  }
  .SignUp-Form .BirthDate-Input{
    width:100%;
    padding-left: 5%;
    margin-left: 0%;
  }
  
  
  .SignUp-Form button{
    background-color: #CF5814;
    border-radius: 15px;
    width: 35%;
    color: white;
    border-style: none;
    min-height:3rem;
  margin-right: 70%;
  font-size: large;}
  .SignUp-Img{
    margin-top: 20%;
    width:100%;
  }
  .changeImg{
    /* position:absolute; */
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
    max-height: 24rem;
  }
  
  .transparent{
    opacity: 0;
    display:none;
  }
  